<!DOCTYPE html>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<link rel="canonical" href="{{ site.domain | append: page.url }}">

<style>
  body {
    max-width: 38rem;
    margin: 50px auto 100px;
    padding: 0 1.5em;
    font-family: georgia, serif;
    line-height: 1.5;
  }
  h2 { 
    font-size: 0.875em; 
    font-family: -apple-system, sans-serif;
  }
  a { color: #00f; }
  a.availability-badge { color: #000; }
  img { max-width: 100%; }
</style>
