<meta charset="utf-8">
<title>{{if .Title}}{{.Title}}{{else}}Larry Fox{{end}}</title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<meta name="color-scheme" content="dark light">
<style>
  body {
    max-width: 38rem;
    margin: 1.5em 1.5em 100px;
    font-family: georgia, serif;
    line-height: 1.5;
  }
  h1, h2, h3, th, footer, time {
    font-size: 0.875em;
    font-family: -apple-system, sans-serif;
  }
  h1 {
    font-size: 1.125em;
    font-weight: normal;
  }
  a { color: #00f; }
  img { image-rendering: crisp-edges; }
  header h1 { margin-top: 0; }
  time { color: gray; }
  table, td, th { border: solid gray; }
  table { border-width: 0 1px 1px 0; }
  td, th {
    border-width: 1px 0 0 1px;
    padding: 0.125em 0.5em;
  }
  @media screen and (prefers-color-scheme: dark) {
    a { color: #ff0; }
  }
</style>
